doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', rel='stylesheet')
        title Your first page
    body
        h1 Rates
        table
            tr
            th
            each el in m[c]
                th=el.effectiveDate
            each key in p
                tr
                    td=key
                    each el in m[key]
                        td=el.mid